*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

composeApp/src/androidMain/res/values/google_maps_api_key.xml
.env
keystore.jks
keystore.properties
app_store_connect_api_key.p8
google_play_android_developer_sa_key.json

iosApp/iosApp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
fastlane/ExportOptions.plist
iosApp/iosApp.xcarchive/
iosApp/build
iosApp/fastlane/report.xml
fastlane/fastlane/report.xml
